<h1>Edit an Item In Your Registry</h1>
<%= link_to "Back to Main", items_url %> |
<%= link_to "Edit", edit_item_path(@item) %> |
<%= link_to "Delete", @item,
:confirm => "Are you sure you want to delete this picture?", :method => :delete %>
